Frontend/Service References/GoogleMapsService/GoogleMaps.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GoogleMaps" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GoogleMaps" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormattedAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="PlaceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
  <xs:simpleType name="TravelMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Driving" />
      <xs:enumeration value="Walking" />
      <xs:enumeration value="Bicycling" />
      <xs:enumeration value="Transit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TravelMode" nillable="true" type="tns:TravelMode" />
</xs:schema>