Frontend/Service References/GooglePlacesService/GooglePlaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GooglePlaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GooglePlaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Place" nillable="true" type="tns:Place" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlace" nillable="true" type="tns:ArrayOfPlace" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Types" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
</xs:schema>