Backend/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="current_environment">
          <xs:complexType>
            <xs:attribute name="val" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="environments">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="environment">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>